h1,
h2,
h3,
p {
  font-family: creationFont, sans-serif;
}

/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

li {
  list-style: none;
}

/* utilities */

.layout-container {
  --max-width: 1110px;
  --padding: 1rem;
  /* auto margins^^ */

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.container {
  padding: 1rem;
  margin: 1rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  place-content: center;
}

.grid-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.space-bt {
  justify-content: space-between;
}

/* global */
.nav {
  display: flex;
  align-items: center;
}

.rendered-images {
  background-color: #f2f5f5;
}

.button {
  height: 30px;
  width: 180px;
  border: none;
  border-radius: 1000px;
  background-color: transparent;
  color: black;
}

.block {
  height: 30px;
}

.grid-item {
  z-index: -1;
}

.grid-item:hover {
  opacity: 0.5;
}

.grid-item-selected-container {
  left: 0;
  top: 0;
}

.grid-item-selected {
  border: 1px solid black;
  padding: 20px;
}
.grid-item-selected:hover {
  width: 250px;
  height: 250px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

@media (max-width: 600px) {
  .even-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .three-columns {
    gap: 10px;
  }

  .gallery {
    align-content: start;
    padding-top: 40px;
  }

  .none {
    display: none;
  }

  .grid-item {
    height: auto;
    width: auto;
  }

  .grid-item-selected {
    height: auto;
    width: auto;
  }
}
